<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <body>
        {{> header}}
        <h2>{{screamIt welcomeMsg}}</h2>
    </body>
    {{> footer}}
</html>